.documentation-page {

  .toc {
    display: block !important; // overwrite docbook style

    #toctitle {
	    display: none;
    }

    .sectlevel2 {
        padding-left: 10px;
        font-size: $small-font-size;
    }
  }

  #cd-docs-nav {
  		position: sticky;
  		overflow-y: auto;
  		overflow-x: hidden;
  		left: 0;

  		// 0 level links
  		.cd-toc-link {
  			display: inline-block;
  	        padding: .5rem 2rem .5rem .5rem;
      		line-height: 1.1;

  			&.active {
  				padding-bottom: 0;
  			}
  		}

  	    // Active states
  	    .nav-link {

            font-size: 0.95rem;

  		    &.active {
  		    	position: relative;

  		    	&:before {
  					content: '';
  					position: absolute;
  					z-index: -1;
  					top: -.2em;
  					right: -20.4em; // 8.4em
  					bottom: -.2em;
  					left: -.4em;
  		    	}

  		    	// sublevels
  		    	+ .nav .nav-link.active:before {
  		    		left: -0.4em - 1.587em;
  		    	}
  		    }
  	    }

  		// #toc migrated(moved) from <artice>
  		#toctitle {
  			display: none;
  		}

  		#toc {

  			// added nav
  			.nav {
  				display: block;
  			}

  			// ul 1st level
  			.sectlevel1 {
  				padding: 0 2rem 0 .75rem;
  				margin-bottom: 0;
  			}

  			// ul 2nd and others init
  			@include media-breakpoint-up(lg) {
  				.nav ul {
  					display: none;
  				}
  			}

  			// ul 2nd and others active
  			.active + ul {
  				display: block;
  			}

  			li {
  				padding-left: 0;

  				&:not(:last-child) a {
  					margin-top: .5em;
  					margin-bottom: 0; // .5em;
  				}

  				// instead of .5em; above
  				a {
  					margin-top: .5em;
  				}
  			}
  		}
  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    margin-bottom: 30px;

    thead {
      background-color: #e0e0e0;
      color: #000;
      text-align: left;
      vertical-align: bottom;
    }

    caption {
      color: #000;
      font: italic 85%/1 arial, sans-serif;
      padding: 1em 0;
      text-align: center;
    }

    td, th {
      border-left: 1px solid #cbcbcb;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: 0.5em 1em;
    }

    td:first-child, th:first-child {
      border-left-width: 0;
    }

    td {
      border-bottom: 1px solid #cbcbcb;
      background-color: transparent;
    }

    tbody > tr:last-child > td {
      border-bottom-width: 0;
    }
  }
}

.docbook {
  // NAV PADDING
  padding-bottom: 5%;

  @include media-breakpoint-up(lg) {
    padding-bottom: map-get($spacers, 5);
  }

  .doc-version {
      display: block;
      text-align: center;
      text-decoration: none;

      .dropdown-toggle:after {
        font-size: .875em;
      }

      > a {
        font-size: 1.56rem;
      }

      a {
        font-weight: 300;
        text-decoration: none;
        color: #777;

        &:hover {
          text-decoration: none;
        }

        &:active {
          background-color: inherit;
        }

        &:focus {
          outline-style: none;
        }
      }

      a.active {
        background-color: rgba(0, 0, 0, .05);
      }
    }

  .toc {
      display: none;
  }

  .docs-nav {
    @include media-breakpoint-up(lg) {
        position: sticky;
        max-height: calc(100vh - .5rem);
    }

    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    top: .5rem;

    .nav {
        li {
            a {
                padding: 5px 10px;
                text-decoration: none;
                border-radius: .3rem;

                @include hover-focus-active {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }

    .nav-link {
        &.active {
            background-color: rgba(0, 0, 0, .05);
        }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &.anchorjs-link {
        text-decoration: none;
    }
  }

  h1 {
      text-align: center;
  }

  h1.title,
  .h1.title,
  > h1,
  > .h1 {
    margin-top: map-get($spacers, 6);
    margin-bottom: map-get($spacers, 3);
  }

  h3.title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    > a[name] {
        display: block;
    }
  }

  h2 {
    font-size:1.7rem;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .cd-content {
      font-size: 0.95rem;
  }
}