// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-200: #e9ecef !default;
$gray-525: #a8a8a8;
$gray-750: #4C4B4B;
$gray-800: #343a40 !default;
$black:    #000 !default;

$primary:       #D95767; //#BF1C31;
$secondary:     #82797a; //$gray-450;
$action:        #585253;

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  2_2: $spacer,
  2_3: ($spacer * 2),
  3: ($spacer * 3.125),
  // ---
  h4_bottom: ($spacer * 2.125),
  // ---
  h3_bottom: ($spacer * 3.125),
  h2_bottom: ($spacer * 4.27),
  4: ($spacer * 5),
  5: ($spacer * 6.875)
), $spacers);

// Body
//
// Settings for the `<body>` element.
$body-color:                $gray-750; //$gray-550;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius-lg:            .3rem !default;

$component-active-color:      $white !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              1.125rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.6666;

$h1-font-size:                $font-size-base * 2.88;
$h2-font-size:                $font-size-base * 1.88;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base * 1.1; //1.1875;
$h5-font-size:                $font-size-base * 1.0625;
$h6-font-size:                $font-size-base;

$headings-font-weight:        700;                      // 900
$headings-color:              #493A3C;

$lead-font-size:              ($font-size-base * 1.111) !default;
$lead-font-weight:            400;
$small-font-size:             88.8888%;

$text-muted:                  $gray-525;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-x:         1.4rem;

$input-btn-padding-y-lg:      .7rem !default;
$input-btn-padding-x-lg:      2rem;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-x:               $input-btn-padding-x !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;

$btn-font-weight:             $font-weight-normal !default;

// Forms

$custom-control-indicator-checked-color:        $component-active-color !default;
$custom-checkbox-indicator-indeterminate-color:       $custom-control-indicator-checked-color !default;
$custom-select-indicator-color:     $gray-800 !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;

// Navbar

$navbar-padding-x:                  0; // $spacer !default;

$navbar-nav-link-padding-x:         1.5625rem;
$spacers: map-merge((
  navbar-nav-link-px: $navbar-nav-link-padding-x
), $spacers);

$navbar-brand-height:               4.6475rem; //25rem; //$navbar-brand-font-size * $line-height-base;
$navbar-brand-padding-y:            0; // 0.5625rem;
$navbar-brand-padding-t:            .7rem;
$navbar-brand-padding-b:            .425rem;

$navbar-padding-y:                  0;

$navbar-light-color:                $gray-750;
$navbar-light-hover-color:          darken($gray-750, 15%);
$navbar-light-active-color:         darken($gray-750, 30%);
$navbar-light-disabled-color:       rgba($gray-750, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-light-toggler-border-color: transparent;

$navbar-height:                     $navbar-brand-height + $navbar-brand-padding-y * 2;
$navbar-light-bg:                   $white;
$navbar-height:                     $navbar-brand-height + $navbar-brand-padding-t + $navbar-brand-padding-b;

// Badges

$badge-font-weight:                 $font-weight-bold !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding:               0;

$modal-dialog-margin:               0;
$modal-dialog-margin-y-sm-up:       0;

$modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  transparent;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        0; //$border-width;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .8;
$modal-header-border-color:         $gray-200 !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              0;

$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-transition:                  transform .3s ease-out !default;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";