<!doctype html>
<html class="no-js" lang="en-us">
    {{ partial "head-index.html" . }}

<body data-spy="scroll" data-target=".toc-side" class="cd-head">

    {{ partial "navbar-docs.html" . }}

    <div class="navbar-overlay"><!-- v --></div>
    <div class="documentation-page container content docbook">
        <h1>
            Agrest {{ .Title }}
        </h1>
        <hr/>

        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-lg-4 col-xl-3  br  py-2  bg-gray-100  cd-sidebar docs-nav">

                    {{ partial "sidebar.html" . }}

                </div>

                <div class="col-12 col-lg-8 col-xl-9 py-2 pl-lg-2 cd-content">
                    <article>
                        {{ .Content }}
                    </article>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>
</html>