<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Open source protocol and Java framework for model-driven REST data services. Works on top of JAX RS and integrates with various backends, such as Apache Cayenne.">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/fav/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="images/png" sizes="32x32" href=" {{ "/images/fav/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="images/png" sizes="16x16" href=" {{ "/images/fav/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href= " {{ "/images/fav/site.webmanifest" | relURL }}">
    <link rel="mask-icon" href=" {{ "/images/fav/safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
    <link rel="shortcut icon" href=" {{ "/images/fav/favicon.ico" | relURL }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content=" {{ "images/fav/browserconfig.xml" | relURL }}">
    <meta name="theme-color" content="#ffffff">
    <title>agrest - Model-Driven REST Data Services</title>
    <link rel="canonical" href="http://agrest.io" />

    {{ partial "assets.html" . }}

</head>