{{ $currentPageURL := .URL }}

<div class="tab-content" id="cd-docs-nav">
    {{ range (sort (where $.Site.Pages "Kind" "page") "Weight" ) -}}
        {{- if eq .Params.layout "docs-index" }}
            <div class="cd-toc-item">
                {{ if eq $currentPageURL .URL }}
                    <span class="cd-toc-link active">{{ if .Params.docsMenuTitle }}{{ .Params.docsMenuTitle }}{{ else }}{{ .Title }}{{ end }}</span>
                    {{- $tocFile := printf "content/page/docs/%s.toc.html" .File.BaseFileName -}}
                        {{- if (fileExists $tocFile) -}}
                            {{ readFile $tocFile | safeHTML }}
                        {{- end -}}
                    {{ else }}
                        <a class="cd-toc-link"  href="{{ .URL }}">{{ if .Params.docsMenuTitle }}{{ .Params.docsMenuTitle }}{{ else }}{{ .Title }}{{ end }}</a>
                    {{ end }}
            </div>
        {{- end }}
    {{ end -}}
</div>